*{
   margin:0;
   padding:0;
box-sizing: border-box;
 }
 body{background-color:rgb(233, 149, 149);}
 img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
